container {
    flex-grow: 1;
    padding: 5px;
}

photoOuter {
    align-self: center;
    width: 50%;
}

photoInner {
    flex-grow: 1;
    margin: 5px;
}

photo {
    flex-grow: 1;
}

input {
    margin: 5px;
}

error {
    margin: 0 5px 5px 5px;
}

buttonContainer {
    flex-direction: row;
}

button {
    flex-grow: 1;
    margin: 5px;
}
