container {
    flex-grow: 1;
    padding: 5px;
}

photoOuter {
    align-self: center;
    width: 50%;
}

photoInner {
    flex-grow: 1;
    margin: 5px;
}

photo {
    flex-grow: 1;
}

input {
    margin: 5px;
}

error {
    margin: 0 5px 5px 5px;
}

buttonContainer {
    flex-direction: row;
}

button {
    flex-grow: 1;
    margin: 5px;
}

modal {
    padding: 5px;
}

question {
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
}
